<div id="admin-dashboard">
        <h1>Welcome to Admin Dashboard</h1>
        <nav>
            <ul>
                <li><a href="/admin/posts">All Posts</a></li>
                <li><a href="/admin/users">All Users</a></li>
                <li><a href="/admin/artists">All Artists</a></li>
                <li><a href="/admin/products">All Products</a></li>
            </ul>
        </nav>
</div>