<form action="/post/addBlog" method="POST" class="container blogForm">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" placeholder="Input Blog Title"><br>

    <label for="body">Body:</label><br>
    <textarea id="body" name="body" placeholder="Input Body"></textarea><br>

    <label for="image">Image URL:</label><br>
    <input type="text" id="image" name="image" ><br>

    <button type="submit">Submit</button>
</form>
