<form action="/post/addBlog" method="POST" id="blogForm" enctype="multipart/form-data">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" placeholder="Input Blog Title">
    <br>
    <br>

    <label for="body">Body:</label>
    <textarea id="body" name="body" placeholder="Input Body"></textarea>
    <br>
    <br>

   {{!-- <label for="images">Images:</label>
    <div class="file-wrapper">
        <span id="file-label">Choose File</span>
        <input required type="file" id="images" name="images" accept="image/*" onchange="updateFileName(this)">
    </div>
    <br><br> --}}

    <label for="">
        <span>Choose photos</span>
        <input name="image" id="addImg" type="file" accept="image/jpg, image/png, image/jpeg, image/gif, image/tiff" multiple>
    </label>

    <button type="submit">Submit</button>
</form>


{{!-- <form action="/upload" method="POST" enctype="multipart/form-data">
  <input type="file" name="image" accept="image/*">
  <button type="submit">Upload Image</button>
</form> --}}