<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <nav>
        <div class="logo">
            <h1><a href="/">ArtistHub</a></h1> 
        </div>
        <ul class="nav-links">
            <li><a href="/">HOME</a></li>
            <li><a href="/user/getProducts">PRODUCTS</a></li>
            <li><a href="/artist">ARTISTS</a></li>
            {{!-- <li><a href="/blogs">EXHIBITIONS</a></li> --}}
            <li><a href="/products">MARKETPLACE</a></li>
            <li><a href="/post">ART BLOG</a></li>

            {{#if loggedIn}}
                <li><a href="/user/getUserInfo">{{userName}}</a></li>
                <li><a href="/logout">Logout</a></li>
                {{#if user}}
                    <li><a href="artist/artistreg">SIGNUP AS ARTIST</a></li>
                {{!-- <li><a href="/logout/logout">Logout</a></li> --}}
                {{/if}}
            {{else}}
                <li><a href="/user/login">SIGNIN/SIGNUP</a></li>
            {{/if}}
        </ul>
    </nav>
    <main>
        {{{body}}}
    </main>
    <script src = "/public/js/clientside.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
</html>