<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Finder</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <section>
        <h1>Artist Finder</h1>

        <p>Hey, User! Use this website to search Artists, you'll get 20!</p>
        
        <form action="/Artist" method="POST">
            <label for="ArtistByName">Enter a search term:</label>
            <input id="ArtistByName" type="text" name="ArtistByName" placeholder="searchtermkeyword" />
            <button type="submit">Go</button>
        </form>
    </section>
</body>
</html>
