

<form id="addProductForm" action="/artist/addProduct" method="POST" >
    <label for="productName">Product Name:</label>
    <input required type="text" id="productName"  name="productName">
    <br>
    <br>
    
    <label for="productDescription">Product Description:</label>
    <input required type="text" id="productDescription"  name="productDescription">
    <br>
    <br>
    
    <label for="price">Price:</label>
    <input required type="text" id="price"  name="price">
    <br>
    <br>
    
    <label for="images">Images:</label>
    <input required type="text" id="images"    name="images">
    <br>
    <br>
    
    <label for="tags">Tags :</label>
    <input  type="text" id="tags"  name="tags">
    <br>
    <br>
    <button type="submit" >Add Product</button>
</form>

