

<form id="addProductForm" action="/artist/addProduct" method="POST" enctype="multipart/form-data" >
    <label for="productName">Product Name:</label>
    <input required type="text" id="productName"  name="productName">
    <br>
    <br>
    
    <label for="productDescription">Product Description:</label>
    <input required type="text" id="productDescription"  name="productDescription">
    <br>
    <br>
    
    <label for="price">Price:</label>
    <input required type="text" id="price"  name="price">
    <br>
    <br>
    
    {{!-- <label for="rating">Rating:</label><br>
    <input required type="number" id="rating" name="rating"><br> --}}
    
    {{!-- <label for="date">Release Date:</label><br>
    <input required type="date" id="date" name="date"><br> --}}
    
    <label for="images">
        <span>Choose photos</span>
        <input name="images" id="addImg" type="file" accept="image/jpg, image/png, image/jpeg, image/gif, image/tiff" multiple>
    </label>
    <br>
    <br>
    
    {{!-- <label for="reviews">Reviews :</label><br>
    <textarea id="reviews" name="reviews"></textarea><br> --}}
    
    <label for="tags">Tags :</label>
    <input  type="text" id="tags"  name="tags">
    <br>
    <br>
    <button type="submit" >Add Product</button>
</form>

