

<form id="addProductForm" action="/artist/addProduct" method="POST" enctype="multipart/form-data">
    <label for="productName">Product Name:</label>
    <input required type="text" id="productName" value="{{artData.productName}}" name="productName">
    <br><br>
    
    <label for="productDescription">Product Description:</label>
    <input required type="text" id="productDescription" value="{{artData.productDescription}}" name="productDescription">
    <br><br>
    
    <label for="price">Price:</label>
    <input required type="text" id="price" value="{{artData.price}}" name="price">
    <br><br>
    
    <label for="images">Images:</label>
    <div class="file-wrapper">
        <span id="file-label">Choose File</span>
        <input required type="file" id="images" name="images" accept="image/*" onchange="updateFileName(this)">
    </div>
    <br><br>
    
    <label for="tags">Tags :</label>
    <input required type="text" id="tags" value="{{artData.tags}}" name="tags">
    <br><br>
    
    <button type="submit">Add Product</button>
</form>

