<div id="adminView">
<link rel="stylesheet" href="/public/css/styles.css">
<p id="welcome">Welcome {{firstName}} {{lastName}}, the time is now: {{currentTime}}. You get super secret admin access since you are an admin. Remember, with great power comes great responsibility!!</p>
<a id="userLink" href="/user">User Page</a>
<a id="logoutLink" href="/logout">Logout</a>
</div>