<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <div class="container">
        <h2>Welcome to Products Dashboard</h2>
        <nav>
            <ul>
                <li><a href="/products/">Dashboard</a></li>
                <li><a href="/products/">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
        <div class="admin-content">
        </div>
        <div class="input-group">
          <label for="Bio">Please Enter your Bio:</label>
          <input type="text" id="bio" name="bio" required />
        </div>
        <input type="submit" value="Register" />
        
    </div>
</body>
</html>