    <section>
        <h1>ArtistHub</h1>

        <p>Hey, User! Use this website to search Artists</p>
        
        <form action="/Artist" method="POST">
            <label for="ArtistByName">Enter a search term:</label>
            <input id="ArtistByName" type="text" name="ArtistByName" placeholder="searchtermkeyword" />
            <button type="submit">Go</button>
        </form>
    </section>
    <h2>FEED</h2>

    <div class="banner">
        <div class="navbar">
            <ul>
                <li><a href="#"> FEATURED ARTISTS</a></li>
                <li><a href="#"> EXHIBITIONS</a></li>
                <li><a href="#"> ART ADVISORY</a></li>
                <li><a href="#"> ART BLOG</a></li>
                <li><a href="#"> VIEW EXHIBITION CALENDAR</a></li>
            </ul>
        </div>
    </div>

    <div class="content">
        <h1>BUTTON</h1>
        <p>Follow us for more...</p>
    </div>

    {{!-- <script src="app.js"></script> --}}
</html>
