<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <div class="container">
        <h2>Login to ArtistHub</h2>
        <form id="loginForm">
            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <span class="input-group-icon"><i class="fas fa-eye-slash"></i></span>
            </div>
            <input type="submit" value="Login">
        </form>
        <p class="create-account-text">Don't have an account? <a href="#">Create one</a></p>
    </div>
</body>
</html>
