<body>
    <h1>Artist Registration</h1>
    <form action="/artist/artistreg" method="POST" id="artistRegisterForm">
        <label for="bio">Bio:</label><br>
        <textarea id="bio" name="bio" rows="4" cols="50"></textarea><br><br>

        <label for="profilePicture">Profile Picture:</label><br>
        <input type="url" id="profilePicture" name="profilePicture"><br><br>

        <button type="submit">Submit</button>
    </form>
</body>